{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Set of Projects</h1>
    <div class="main">
    {% for x in no_of_projects %}
        <div class="single-project">
            <h3>{{ x.name }}</h3>
            <a href="{{ x.href }}">Click</a>
        </div>
    {% endfor %}
    </div>
</div>
</body>
</html>