.nav{
display:grid;
grid-template-columns:1% 99%;
}
.inline{
    display:inline-block;
    text-align:center;
    border:1px solid black;
}
button{
    width:33%;
    background-color:white;
    color:black;
}
button:hover{
    background-color:black;
    color:white;
    cursor:pointer;
}
.flex{
    display:grid;
    grid-template-columns: auto auto auto;
}

*{
    padding: 0;
    margin: 0;
    animation-name:fade;
    animation-duration:0.5s;
}
body{
    animation-name:bg;
    animation-duration:0.25s;
    background:linear-gradient(to top, rgba(79, 202, 240,1),rgba(79, 202, 240,0));
}

h1{
    text-align:center;
    margin:10px;
    font-family:'Roboto Condensed',sans-serif;
}
p{
font-family: 'Lato', sans-serif;
margin:10px;
}
button{
width:50px;
height:50px;
margin:2px;
border:none;
font-family: 'Lato', sans-serif;
background-color: rgba(46, 51, 48,1);
color:white;
transition:0.5s all;
}
button:hover{
background-color: rgba(85, 102, 92,1);
cursor:pointer;
}
#reset{
    width:160px;
}




@keyframes fade{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes bg{
    0%{background:linear-gradient(to top, rgba(79, 202, 240,0),rgba(79, 202, 240,0))}
    25%{background:linear-gradient(to top, rgba(79, 202, 240,0.7),rgba(79, 202, 240,0))}
    50%{background:linear-gradient(to top, rgba(79, 202, 240,0.8),rgba(79, 202, 240,0))}
    75%{background:linear-gradient(to top, rgba(79, 202, 240,0.9),rgba(79, 202, 240,0))}
    100%{background:linear-gradient(to top, rgba(79, 202, 240,1),rgba(79, 202, 240,0))}
}